<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #growler {
            background-color: aqua;
            width: 500px;
            height: 200px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="growler">
        <li v-for="(value, key, i) in currentUser">
            {{ i }}: {{ key }} --- {{ value }}
        </li>
    </div>
    <div id="growler2">
        <ul>
            <li v-for="(page, i) in pages">
                <a v-bind:href="page.url">{{ page.number }}</a>
                <small>i : {{ i }}</small>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>
    <script>
        //v-for  you can use in and of 
        //page in xxx page of xxx 
        var growler = new Vue({
            el: "#growler",
            data: {
                currentUser: {
                    firstName: "Chad",
                    fingers: 10,
                    tags: ['male', 'scorpio'],
                    socialMedia: {
                        twitter: '@ecofic',
                        youtube: 'ecofic'
                    }
                }
            }
        });
        var growler2 = new Vue({
            el: "#growler2",
            data: {
                pages: [
                    { number: 1, url: '?page=1' },
                    { number: 2, url: '?page=2' },
                    { number: 3, url: '?page=3' }
                ]
            }
        });

    </script>
</body>

</html>