div {
  padding: 0px;
  margin: 0px;
  border: 1px solid red;
  background: yellow;
}

.inline__item {
  box-sizing: border-box;
}

@media screen and (min-width: 360px) {
  .inline__item {
    display: inline-block;
    width: 50%;
  }
}
@media screen and (min-width: 720px) {
  .inline__item {
    width: 25%;
  }
}
