When searching "truth" in a long article
naive search do comparison 10007 times
Boyer-Moore-Horspool do comparison 2236 times

But searching "truth to be self-evident"
naive  do comparison 9985 times
Boyer-Moore-Horspool do comparisono 781 times

so to conclude:
        The longer the searching words, the better performance of Boyer-Moore-Horspool
